--
-- PostgreSQL database dump
--

\restrict fetbAUZr9BvUZMSiHbdVM2J5S18I1aAlsJeHAw0BpTTFaeDm0gHCpzn7sjVOBu4

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: nutrition_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.nutrition_status_enum AS ENUM (
    'COCOK',
    'MENDEKATI'
);


ALTER TYPE public.nutrition_status_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_audit_log (
    id integer NOT NULL,
    action character varying NOT NULL,
    meta jsonb,
    request_id character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.admin_audit_log OWNER TO postgres;

--
-- Name: admin_audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admin_audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.admin_audit_log_id_seq OWNER TO postgres;

--
-- Name: admin_audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admin_audit_log_id_seq OWNED BY public.admin_audit_log.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: analyses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analyses (
    id integer NOT NULL,
    image_path character varying(500) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    model_version character varying(100) NOT NULL,
    conf_threshold double precision NOT NULL
);


ALTER TABLE public.analyses OWNER TO postgres;

--
-- Name: analyses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.analyses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.analyses_id_seq OWNER TO postgres;

--
-- Name: analyses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.analyses_id_seq OWNED BY public.analyses.id;


--
-- Name: class_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class_requests (
    id integer NOT NULL,
    analysis_id integer,
    requested_label character varying(255) NOT NULL,
    bbox_x1 double precision,
    bbox_y1 double precision,
    bbox_x2 double precision,
    bbox_y2 double precision,
    note text,
    status character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    is_exported boolean DEFAULT false NOT NULL,
    image_path character varying(500),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.class_requests OWNER TO postgres;

--
-- Name: class_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.class_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.class_requests_id_seq OWNER TO postgres;

--
-- Name: class_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.class_requests_id_seq OWNED BY public.class_requests.id;


--
-- Name: detections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.detections (
    id integer NOT NULL,
    analysis_id integer NOT NULL,
    label character varying(100) NOT NULL,
    confidence double precision NOT NULL,
    bbox_x1 double precision NOT NULL,
    bbox_y1 double precision NOT NULL,
    bbox_x2 double precision NOT NULL,
    bbox_y2 double precision NOT NULL,
    tkpi_food_id integer
);


ALTER TABLE public.detections OWNER TO postgres;

--
-- Name: detections_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.detections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.detections_id_seq OWNER TO postgres;

--
-- Name: detections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.detections_id_seq OWNED BY public.detections.id;


--
-- Name: export_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.export_log (
    id integer NOT NULL,
    batch_id character varying(36) NOT NULL,
    source_type character varying(30) NOT NULL,
    source_id integer NOT NULL,
    exported_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.export_log OWNER TO postgres;

--
-- Name: export_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.export_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.export_log_id_seq OWNER TO postgres;

--
-- Name: export_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.export_log_id_seq OWNED BY public.export_log.id;


--
-- Name: feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feedback (
    id integer NOT NULL,
    analysis_id integer NOT NULL,
    predicted_label character varying(100) NOT NULL,
    corrected_tkpi_food_id integer,
    bbox_x1 double precision NOT NULL,
    bbox_y1 double precision NOT NULL,
    bbox_x2 double precision NOT NULL,
    bbox_y2 double precision NOT NULL,
    note text,
    is_processed boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    image_filename character varying(255)
);


ALTER TABLE public.feedback OWNER TO postgres;

--
-- Name: feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.feedback_id_seq OWNER TO postgres;

--
-- Name: feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.feedback_id_seq OWNED BY public.feedback.id;


--
-- Name: missed_detections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.missed_detections (
    id integer NOT NULL,
    analysis_id integer NOT NULL,
    missed_label character varying(100) NOT NULL,
    tkpi_food_id integer,
    note text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    image_filename character varying(500)
);


ALTER TABLE public.missed_detections OWNER TO postgres;

--
-- Name: missed_detections_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.missed_detections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.missed_detections_id_seq OWNER TO postgres;

--
-- Name: missed_detections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.missed_detections_id_seq OWNED BY public.missed_detections.id;


--
-- Name: tkpi_foods; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tkpi_foods (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    energi_kal double precision,
    protein_g double precision,
    lemak_g double precision,
    karbo_g double precision,
    serat_g double precision,
    tkpi_code character varying(32),
    CONSTRAINT ck_tkpi_code_not_empty CHECK (((tkpi_code IS NULL) OR ((tkpi_code)::text <> ''::text)))
);


ALTER TABLE public.tkpi_foods OWNER TO postgres;

--
-- Name: tkpi_foods_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tkpi_foods_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tkpi_foods_id_seq OWNER TO postgres;

--
-- Name: tkpi_foods_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tkpi_foods_id_seq OWNED BY public.tkpi_foods.id;


--
-- Name: yolo_tkpi_mapping; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.yolo_tkpi_mapping (
    id integer NOT NULL,
    yolo_label character varying(100) NOT NULL,
    tkpi_food_id integer NOT NULL,
    ui_status public.nutrition_status_enum NOT NULL,
    ui_note text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.yolo_tkpi_mapping OWNER TO postgres;

--
-- Name: yolo_tkpi_mapping_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.yolo_tkpi_mapping_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.yolo_tkpi_mapping_id_seq OWNER TO postgres;

--
-- Name: yolo_tkpi_mapping_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.yolo_tkpi_mapping_id_seq OWNED BY public.yolo_tkpi_mapping.id;


--
-- Name: admin_audit_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_audit_log ALTER COLUMN id SET DEFAULT nextval('public.admin_audit_log_id_seq'::regclass);


--
-- Name: analyses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analyses ALTER COLUMN id SET DEFAULT nextval('public.analyses_id_seq'::regclass);


--
-- Name: class_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_requests ALTER COLUMN id SET DEFAULT nextval('public.class_requests_id_seq'::regclass);


--
-- Name: detections id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detections ALTER COLUMN id SET DEFAULT nextval('public.detections_id_seq'::regclass);


--
-- Name: export_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.export_log ALTER COLUMN id SET DEFAULT nextval('public.export_log_id_seq'::regclass);


--
-- Name: feedback id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback ALTER COLUMN id SET DEFAULT nextval('public.feedback_id_seq'::regclass);


--
-- Name: missed_detections id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.missed_detections ALTER COLUMN id SET DEFAULT nextval('public.missed_detections_id_seq'::regclass);


--
-- Name: tkpi_foods id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tkpi_foods ALTER COLUMN id SET DEFAULT nextval('public.tkpi_foods_id_seq'::regclass);


--
-- Name: yolo_tkpi_mapping id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.yolo_tkpi_mapping ALTER COLUMN id SET DEFAULT nextval('public.yolo_tkpi_mapping_id_seq'::regclass);


--
-- Data for Name: admin_audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
b2c3d4e5f6a8
\.


--
-- Data for Name: analyses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: class_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: detections; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: export_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: missed_detections; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tkpi_foods; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: yolo_tkpi_mapping; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: admin_audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admin_audit_log_id_seq', 151, true);


--
-- Name: analyses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.analyses_id_seq', 980, true);


--
-- Name: class_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.class_requests_id_seq', 12, true);


--
-- Name: detections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.detections_id_seq', 2124, true);


--
-- Name: export_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.export_log_id_seq', 172, true);


--
-- Name: feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.feedback_id_seq', 16, true);


--
-- Name: missed_detections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.missed_detections_id_seq', 20, true);


--
-- Name: tkpi_foods_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tkpi_foods_id_seq', 215, true);


--
-- Name: yolo_tkpi_mapping_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.yolo_tkpi_mapping_id_seq', 39, true);


--
-- Name: admin_audit_log admin_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_audit_log
    ADD CONSTRAINT admin_audit_log_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: analyses analyses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analyses
    ADD CONSTRAINT analyses_pkey PRIMARY KEY (id);


--
-- Name: class_requests class_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_requests
    ADD CONSTRAINT class_requests_pkey PRIMARY KEY (id);


--
-- Name: detections detections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detections
    ADD CONSTRAINT detections_pkey PRIMARY KEY (id);


--
-- Name: export_log export_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.export_log
    ADD CONSTRAINT export_log_pkey PRIMARY KEY (id);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id);


--
-- Name: missed_detections missed_detections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.missed_detections
    ADD CONSTRAINT missed_detections_pkey PRIMARY KEY (id);


--
-- Name: tkpi_foods tkpi_foods_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tkpi_foods
    ADD CONSTRAINT tkpi_foods_pkey PRIMARY KEY (id);


--
-- Name: export_log uq_export_log_source_batch; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.export_log
    ADD CONSTRAINT uq_export_log_source_batch UNIQUE (source_type, source_id, batch_id);


--
-- Name: yolo_tkpi_mapping yolo_tkpi_mapping_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.yolo_tkpi_mapping
    ADD CONSTRAINT yolo_tkpi_mapping_pkey PRIMARY KEY (id);


--
-- Name: idx_tkpi_foods_name_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tkpi_foods_name_trgm ON public.tkpi_foods USING gin (name public.gin_trgm_ops);


--
-- Name: ix_class_requests_analysis_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_class_requests_analysis_id ON public.class_requests USING btree (analysis_id);


--
-- Name: ix_class_requests_is_exported; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_class_requests_is_exported ON public.class_requests USING btree (is_exported);


--
-- Name: ix_class_requests_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_class_requests_status ON public.class_requests USING btree (status);


--
-- Name: ix_detections_analysis_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_detections_analysis_id ON public.detections USING btree (analysis_id);


--
-- Name: ix_detections_tkpi_food_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_detections_tkpi_food_id ON public.detections USING btree (tkpi_food_id);


--
-- Name: ix_export_log_batch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_export_log_batch ON public.export_log USING btree (batch_id);


--
-- Name: ix_export_log_exported_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_export_log_exported_at ON public.export_log USING btree (exported_at);


--
-- Name: ix_export_log_source; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_export_log_source ON public.export_log USING btree (source_type, source_id);


--
-- Name: ix_feedback_analysis_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_feedback_analysis_id ON public.feedback USING btree (analysis_id);


--
-- Name: ix_feedback_is_processed; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_feedback_is_processed ON public.feedback USING btree (is_processed);


--
-- Name: ix_missed_detections_analysis_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_missed_detections_analysis_id ON public.missed_detections USING btree (analysis_id);


--
-- Name: ix_missed_detections_missed_label; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_missed_detections_missed_label ON public.missed_detections USING btree (missed_label);


--
-- Name: ix_tkpi_foods_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_tkpi_foods_name ON public.tkpi_foods USING btree (name);


--
-- Name: ix_tkpi_foods_tkpi_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_tkpi_foods_tkpi_code ON public.tkpi_foods USING btree (tkpi_code);


--
-- Name: ix_yolo_tkpi_mapping_yolo_label; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_yolo_tkpi_mapping_yolo_label ON public.yolo_tkpi_mapping USING btree (yolo_label);


--
-- Name: class_requests class_requests_analysis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_requests
    ADD CONSTRAINT class_requests_analysis_id_fkey FOREIGN KEY (analysis_id) REFERENCES public.analyses(id) ON DELETE SET NULL;


--
-- Name: detections detections_analysis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detections
    ADD CONSTRAINT detections_analysis_id_fkey FOREIGN KEY (analysis_id) REFERENCES public.analyses(id) ON DELETE CASCADE;


--
-- Name: detections detections_tkpi_food_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detections
    ADD CONSTRAINT detections_tkpi_food_id_fkey FOREIGN KEY (tkpi_food_id) REFERENCES public.tkpi_foods(id) ON DELETE SET NULL;


--
-- Name: feedback feedback_analysis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_analysis_id_fkey FOREIGN KEY (analysis_id) REFERENCES public.analyses(id) ON DELETE CASCADE;


--
-- Name: feedback feedback_corrected_tkpi_food_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_corrected_tkpi_food_id_fkey FOREIGN KEY (corrected_tkpi_food_id) REFERENCES public.tkpi_foods(id) ON DELETE SET NULL;


--
-- Name: missed_detections missed_detections_analysis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.missed_detections
    ADD CONSTRAINT missed_detections_analysis_id_fkey FOREIGN KEY (analysis_id) REFERENCES public.analyses(id) ON DELETE CASCADE;


--
-- Name: missed_detections missed_detections_tkpi_food_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.missed_detections
    ADD CONSTRAINT missed_detections_tkpi_food_id_fkey FOREIGN KEY (tkpi_food_id) REFERENCES public.tkpi_foods(id) ON DELETE SET NULL;


--
-- Name: yolo_tkpi_mapping yolo_tkpi_mapping_tkpi_food_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.yolo_tkpi_mapping
    ADD CONSTRAINT yolo_tkpi_mapping_tkpi_food_id_fkey FOREIGN KEY (tkpi_food_id) REFERENCES public.tkpi_foods(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict fetbAUZr9BvUZMSiHbdVM2J5S18I1aAlsJeHAw0BpTTFaeDm0gHCpzn7sjVOBu4

